@(message: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">
      <script src="@routes.Assets.versioned("javascripts/login.js")"></script>
    </head>
    <body>
        <div class="login-container">
            <h2>LOGIN</h2>
            <form id="login-form" method="post" action="@routes.SessionController.login()">
                <div>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <span class="error" id="username-error"></span>
                </div>

                <div>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <span class="error" id="email-error"></span>
                </div>

                @if(message != null) {
                    <div class="server-error">
                        <p>@message</p>
                    </div>
                }
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </body>
</html>
